.note{
    background-color: rgb(214, 224, 192);
    padding: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.fnote{
    width: 320px;
    height: 130px;
    background-color: white;
    box-shadow:  2px 5px 5px 2px gray;
    padding: 4px;
    border-radius: 5px;
    color: rgb(63, 62, 62);
    font-family: sans-serif;
    margin-top: 10px;
 
}
.ptag{
    font-size: larger;
    font-weight: bolder;    
}
.Badd{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: orange;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 250px;
    left: 330px;
}