.note{
    background-color: rgb(214, 224, 192);
    padding: 10px;
    height: 400px;
}
.fnote{
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow:  2px 5px 5px 2px gray;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    font-family: sans-serif;
    
}
.ptag{
    font-size: larger;
    font-weight: bolder;    
}
.Badd{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: orange;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 270px;
}